.bottom{
    float: left;
    width: 100%;
    background: #293F50;
    padding: 10px;
}

.left{
    float: left;
    width: 25%;
    color: #648880;
    margin-top: 15px;
    margin-left: 15%;
}

.navigation{
    float: right;
    width: 50%;
    height: 50px;
}

.bottom .navigation ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    color: white;
}

ul li a{
    color: white;
    text-decoration: none;
}

/*
.top .bottom {
  color: rgb(41, 63, 80);
}*/

.menu{
    text-transform: uppercase;
}
