.middle{
    float: left;
    width: 80%;
    padding-right: 25%;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.middle .section{
    float: left;
    width: 25%;
    background: white;
}

.middle .margin{
    margin-right: 3%;
}

.middle .section .type{
    text-transform: uppercase;
    float: left;
    width: 100%;
    padding: 10px 0;
    color: #A9B2C0;
}

.middle .section .image img{
    width: 100%;
}

.middle .section .title{
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    color: #64888A;
}

.desc{
    color: #88888A;
}