
/*
.w3-myfont {
    font-style: Calibri;
	font-family: Calibri, sans-serif;
}*/

.wrapper{
  /*float: left;*/
	height: 800px;
	margin: 0 auto;
	background: white;
	font-family: Arial, sans-serif;
}

.top{
	float: left;
	width: 100%;
	background: #293F50;
	margin-bottom: 5px;
}

.top .logo{
	float: left;
	width: 35%;
	height: 100px;
	color: white;
	margin: auto 0;
	padding-left: 15%;
	font-weight: normal;
}

.top .date_nav{
	float: right;
	text-align: right;
	height: 100px;
	width: 30%;
	padding-right: 20%;
}

.top .date_nav{
	float: right;
	font-size: small;		 
}

.top{	
  background-color: #293F50;
}

.l_title{
	text-align: center;
	color: #648880;
}

.text{`
	width: 50%;
	height: 80px;
	padding: 0 25%;
}

.txt{
	text-align: center;
	color: white;
}

.register{
	text-transform: uppercase;
	background-color: #293F50;
	color: white;
	text-align: center;
	margin-bottom: 50px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-right: 5px;
}

.date{
    color: #648880;
    padding-top: 5px;
}

.middle{
	float: left;
	width: 80%;
	padding-right: 25%;
	margin-left: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.middle .section{
	float: left;
	width: 25%;
	background: white;
}

.middle .margin{
	margin-right: 3%;
}

.middle .section .type{
	text-transform: uppercase;
	float: left;
	width: 100%;
	padding: 10px 0;
	color: #A9B2C0;
}

.middle .section .image img{
	width: 100%;
}

.middle .section .title{
	float: left;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 0;
	color: #64888A;
}

.desc{
	color: #88888A;
}

.bottom{
	float: left;
	width: 100%;
	background: #293F50;
	padding: 10px;  
}

.bottom .left{
	float: left;
	width: 35%;
    color: #648880;
	margin-top: 15px;
	margin-left: 15%;
}

.bottom .navigation{
	float: right;
	width: 50%;
	height: 50px;
}

.bottom .navigation ul li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	padding: 0 10px;
	color: white;
	text-decoration: underline;  
}

/*
.top .bottom {
  color: rgb(41, 63, 80);
}*/

.menu{
	text-transform: uppercase;
}
