.wrapper {
    height: 800px;
    margin: 0 auto;
    background: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.top {
    float: left;
    width: 100%;
    background: #293F50;
    margin-bottom: 5px;
}

.top .logo {
    float: left;
    width: 35%;
    height: 100px;
    color: white;
    margin: auto 0;
    padding-left: 15%;
}

.top .date_nav {
    float: right;
    text-align: right;
    height: 100px;
    width: 30%;
    padding-right: 20%;
}

.top .date_nav {
    float: right;
    font-size: small;
}

.top {
    background-color: #293F50;
}

.l_title {
    text-align: center;
    color: #648880;
    font-size: 20px;

}

.text {
    width: 50%;
    padding: 0 25%;
    font-size: large;
}
.txt {
    color: white;
}

.register {
    text-transform: uppercase;
    background-color: #293F50;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
}

.menu ul li {
    list-style: none;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-right: 5px;
}

.navigation .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
}

.nav{
    text-decoration: none;
}

.date {
    color: #648880;
    padding-top: 5px;
}